@import "tailwindcss";

@theme {
  /* Figma Design System Colors */
  --color-bg: #F8F8F8;
  --color-dark: #222222;
  --color-orange: #EA5616;
  --color-blue: #2C2D84;
  --color-gray: #D9D9D9;
  --color-circle: #B4C5CC;

  /* Figma Font: Montserrat */
  --font-family-sans: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F8F8;
}
